* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #6272a4;
}

a:hover {
    text-decoration: underline;
    color: #8be9fd;
}

body {
    height: 100vh;
    background: #282a36;
    color: #f8f8f2;
    font-family:Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 40px;
    padding: 20px;
}

button {
    padding: 5px;
    background: #bd93f9;
    color: black;
}

.buttons > * {
    font-size: 64px;
    padding: 0;
    max-height: fit-content;
    flex: 0 1 auto;
    padding: 0 20px;
    background: #282a36;
    border: 0;
}

.buttons > *:hover {
    border: 1px solid white;
}

#clicked {
    border: 1px solid grey;
}

.score {
    display: flex;
    gap: 5px;
    font-size: 64px;
}

.winner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.winner > * {
    max-width: fit-content;
    flex: 0 1 auto;
}